name: test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - 'main'
      - 'releases/v*'
  pull_request:

env:
  SETUP_BUILDX_VERSION: "edge"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: ${{ env.SETUP_BUILDX_VERSION }}
          driver: docker
      -
        name: Test
        uses: docker/bake-action@v6
        with:
          targets: test
      -
        name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/clover.xml
          token: ${{ secrets.CODECOV_TOKEN }}
